<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table class="table">
        <thead>
            <tr>
                <th>name</th>
                <th>address</th>
                <th>size</th>
            </tr>
        </thead>
        <tbody>
            {% for item in files %}
                <tr>
                    <td scope="row">{{item.file}}</td>
                    <td><a href="/media/{{item.file}}"> open </a> </td>
                    <td>{{item.file_size}}</td>
                </tr>
            
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>